<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.legendfarmer.loanemicalculator">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".GoogleAnalyticsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalculateLoanEMI"
            android:label="@string/emiCalcScreenName"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".LoanAffordActivity"
            android:label="@string/loanAfford"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".CompareLoansActivity"
            android:label="@string/compare"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
    </application>

</manifest>